{{!-- {{#if loggedIn}} --}}
  <head>
  <meta charset="UTF-8">
  <title>demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  
  <header class="display-flex justify-space-between align-center p-2 ">
      <h1>
        
        <a href="/" class="d-flex justify-content-center">Tech Blog!</a>
      </h1>
      {{!-- {{#if logged_in}} --}}
      <nav class="d-flex justify-content-center ">
        <!-- Conditionally render login or logout links -->
    
        
        {{!-- <a href="/dashboard">Dashboard </a>
        <a href="/">Home</a>
        <a href="/login">Login</a>
       <a href="/api/post">make a post</a>
        <script src="/js/logout.js"></script> --}}
       
 {{!-- <button id="logout-link" class="btn-no-style">Logout</button>
        <script src="/js/logout.js"></script> --}}
        <div class="px-1">
        
       <a href="/dashboard">Dashboard </a>
       <a href="/">Home</a>
       <a href="/api/post">make a post</a>

       </div>

      </nav>
       
    </header>
{{!-- <a href="/api/post">make a post</a> --}}

{{!-- user = loggedin user by id --}}
  <main class="container container-fluid mt-5 ">
      <h1 class="d-flex justify-content-center">dashboard</h1>
      {{!-- {{#if logged_in}} --}}
        {{{ body }}} 
      {{!-- {{/if}} --}}
      </main>

  

  </body>

</html>
{{!-- {{else}}
 <a href="/login">Login</a>
{{/if}} --}}