<head>
  <meta charset="UTF-8">
  <title>DNR resource</title>
  {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous"> --}}
  {{!-- <link rel="stylesheet" href="/css/jass.css"> --}}
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{!-- <div class="d-flex justify-content-center"> --}}


    {{!-- <div class="jumbotron container-fluid jumboText">
  <h1 class="display-4">DNR RESOURCE SITE</h1>
  <p class="lead">This is a simple unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>You will be able to locate information about scientific and natural areas.</p> --}}
  {{!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> --}}
    {{!-- </div> --}}

  {{!-- </div> --}}

  <main>
        {{{ body }}}
      </main>

  </body>
{{!-- <script src="/index.js"></script> --}}
</html>