<div class="container bg-secondary text-white">

    <h1>View Posts</h1>
    {{#each posts as |post|}}
    <div>
        <p1>Title of post: {{post.title}}</p1><br>
        <p1>Post text: {{post.body}}</p1>
        {{!-- {{format_date post.theDate}} --}}
    </div>
    {{/each}}


    

<div>

    <a href="/api/post">
        <button class="no-button" id="logout">create a post</button>
    </a>
</div>