<div class="row justify-space-between-md">
  
  <div class="login-card">
    <h2 class="page-title">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="username-input-signup">Username:</label>
        <input class="form-input username-input-signup" type="text" id="username-input-signup" />
      </div>
      
      <div class="form-group">
        <label for="password-input-signup">Password:</label>
        <input class="form-input password-input-signup" type="password" id="password-input-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>

  </div>
</div>

<script src="/js/signup.js"></script>