{{!-- {{#each newPost as |newposts|}} 
    <div>

        <p1>Title of post: {{newPost.title}}</p1><br>
        <p1>Post text: {{newPost.body}}</p1> 
        {{format_date}}
    </div>
    {{/each}} --}}